.discountCard {
  background-image: url("../../assets/interior.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 56.5vw;
  height: 15vw;
  border-radius: 10px;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    margin: 0;
    padding: 0;
    &__tag {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 0.75vw;
      font-style: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      color: #fff;
    }
    &__title {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 2vw;
      font-style: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      color: #fff;
    }
    &__resume {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 0.65vw;
      font-style: normal;
      color: #fff;
    }
  }
}
