.search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2.5px;

  &__item {
    color: #333;
  }

  &__bar {
    border: none;
    outline: none;
    flex: 2;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    width: 15rem;
    font-family: "Montserrat", sans-serif;
  }

  &__button {
    background-color: $forest-green;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;

    &:hover {
      background-color: $asparagus;
    }
  }
}
