.navbar {
  width: 100%;
  background: var(--gray-scale-gray-800, #333);
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Montserrat", sans-serif;
    color: cornsilk;

    &__item {
      float: left;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      color: cornsilk;
      transition: font-weight 0.3s;
      cursor: pointer;
      &:hover {
        font-weight: bold;
        background-color: #111;
      }
    }
  }
}
