.navbar {
  width: 100%;
  background-color: #0e0f0e;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: cornsilk;
    list-style: none;

    &__item {
      font-family: "Montserrat", sans-serif;
      color: cornsilk;
      margin: 0 10px;
      transition: font-weight 0.3s;

      &:hover {
        font-weight: bold;
      }

      &__menu {
        border: none;
        font-family: inherit;
        background: transparent;
        padding: 0;
        cursor: pointer;
        color: inherit;
      }
    }
  }
}
